[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
autopep8 = "*"

[packages]
bs4 = "*"
flask = "*"

[requires]
python_version = "3.7"

[scripts]
tests = "pipenv run python -m unittest discover tests"
server = "pipenv run python server.py"
